<mat-tab-group class="carousel-tabs" [(selectedIndex)]="selectedIndex">
  <mat-tab *ngFor="let item of props.items">
    <div class="carousel-slide">
      <img class="carousel-image" [src]="item.imageUrl" [alt]="item.title" />
      <div class="carousel-content">
        <h2>{{ item.title }}</h2>
        <p class="description">{{ item.description }}</p>
        <div class="meta" *ngIf="item.meta">
          <span *ngFor="let key of getMetaKeys(item.meta)">
            {{ item.meta[key] }}
          </span>
        </div>
        <div class="carousel-actions" >
          <ng-container *ngFor="let action of item.actions">
            <a 
              [href]="action.url"
              *ngIf="action.buttonType === 'filled'"
              mat-flat-button
              color="primary"
              class="action-button btn-filled"
            >
              <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
              {{ action.label }}
            </a>
            <a 
              [href]="action.url"
              *ngIf="action.buttonType === 'outlined'"
              mat-stroked-button
              color="primary"
              class="action-button btn-outlined"
            >
              <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
              {{ action.label }}
            </a>
          </ng-container>
        </div>
        <div class="carousel-dots">
          <span
            *ngFor="let item of props.items; let i = index"
            [class.active]="i === selectedIndex"
            (click)="selectedIndex = i"
          ></span>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>