@use '@angular/material' as mat;
@use './../../../core/utils/theme/theme.scss' as theme;

.carousel-tabs {
    overflow: hidden;
    height: 100%;
    width: 100%;
    h2 {
        color: theme.$netflix-light-color;
        font-size: 36px;
        margin-bottom: 16px;
    }
    & .carousel-slide {
        position: relative;
         overflow: hidden;
        height: 100%;
        width: 100%;
    }
    & .carousel-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.4);
        box-shadow: inset 0 -80px 80px -20px rgba(0, 0, 0, 0.7);
    }
    & .carousel-content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: theme.$netflix-light-color;
        max-width: 500px;
        padding: 24px;
    }
    & .carousel-actions {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        & .action-button {
           padding: 24px 12px
        }
        & .btn-outlined {
            border: 1px solid mat.m2-get-color-from-palette(theme.$netflix-primary, 700);
            color: theme.$netflix-light-color;
        }
    }
    .carousel-dots {
        display: flex;
        margin-top: 16px;
        gap: 8px;

        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: theme.$netflix-light-color;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &.active {
                background-color: mat.m2-get-color-from-palette(theme.$netflix-primary, 700);
            }
        }
    }
}

::ng-deep .mat-mdc-tab-header {
  display: none !important;
}