@use '@angular/material' as mat;

$netflix-primary: mat.m2-define-palette(mat.$m2-red-palette, 700);
$netflix-accent: mat.m2-define-palette(mat.$m2-grey-palette, 500, 100, 700);
$netflix-warn: mat.m2-define-palette(mat.$m2-red-palette);

$netflix-dark-color: #141414;
$netflix-light-color: #e5e5e5;
$netflix-hover-light-color: #b3b3b3;

$netflix-dark-secondary-color: #303030;

$netflix-theme: mat.m2-define-dark-theme((
  color: (
    primary: $netflix-primary,
    accent: $netflix-accent,
    warn: $netflix-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: -2,
));

// Include theme styles
@include mat.core();
@include mat.all-component-themes($netflix-theme);