@use '@angular/material' as mat;
@use './../../../core/utils/theme/theme.scss' as theme;

@include mat.core();

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mat.form-field-overrides((
        outlined-container-shape: 25px,
        outlined-input-text-placeholder-color:  mat.m2-get-color-from-palette(theme.$netflix-accent, 700),
    ));
}

::ng-deep .mat-form-field-appearance-outline .mdc-text-field--outlined {
  background-color: white;
  border-radius: 25px;
}

::ng-deep .mdc-text-field__input {
   --mdc-outlined-text-field-input-text-color: black;
}