<div class="new-release__list">
    <div *ngFor="let item of newRelease.items" class="new-release__item">
        <a
            [href]="item.url"
            class="new-release__link"
        >
            <movies-card class="new-release__card" [card]="item.card"></movies-card>
            <div class="new-release__details">
                <h3 class="new-release__title">{{ item.card.title }}</h3>
                <div class="new-release__duration">
                    <p>Duration: </p>
                    <button mat-stroked-button color="primary">
                        <mat-icon>schedule</mat-icon>
                        {{ item.duration }}
                    </button>
                </div>
                <div class="new-release__genres">
                    <p>Genres: </p>
                    <p class="new-release__genre">
                        {{ item.genres.join(', ') }}
                    </p>
                </div>
            </div>
        </a>
        <movies-action [actions]="item.actions"></movies-action>
    </div>
</div>