
@use './../../../core/utils/theme/theme.scss' as theme;

.new-release__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    & .new-release__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.05);
        }
    }
    & .new-release__card {
        display: block;
        height: 300px;
    }
}    

.new-release__details {

    & .new-release__title {
        font-weight: bold;
        font-size: 1.1rem;
        margin: 4px 0;
    }

    & .new-release__duration,
    & .new-release__genres {
        font-size: 0.9rem;
        color: #888;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        flex-wrap: wrap;
    }
    & .new-release__genres {
        flex-direction: column;
    }
    & .new-release__genre {
        color: theme.$netflix-light-color;
    }
}