@use '@angular/material' as mat;

$primary: mat.define-palette((
  500: #e50914, // Netflix red
  600: #d40813,
  700: #b20710,
  contrast: (
    500: white,
    600: white,
    700: white,
  )
));

$accent: mat.define-palette(mat.$grey-palette, 500);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme((
  color: (
    primary: $netflix-primary,
    accent: $netflix-accent,
    warn: $netflix-warn,
  ),
  typography: mat.define-typography-config(), // optional
  density: 0
));

@include mat.core();
@include mat.all-component-themes($netflix-theme);

body {
  background-color: #141414; // Netflix dark background
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}