<movies-main-layout></movies-main-layout>
<div class="home-cta__container">
    <movies-call-to-action [carouselMovies]="carouselMovies"></movies-call-to-action>
</div>
<main class="home">
    <div class="recently-updated__container">
        <movies-section-title [title]="'Recently Updated'"></movies-section-title>
        <movies-recently-updated [recentlyUpdated]="recentlyUpdatedMovies"></movies-recently-updated>
    </div>
    <div class="new-release__container">
        <movies-section-title [title]="'New Releases - Movies'"></movies-section-title>
        <movies-new-release type="movies" [newRelease]="newReleaseMovies"></movies-new-release>
    </div>
    <div class="new-release__container">
        <movies-section-title [title]="'New Releases - Series'"></movies-section-title>
        <movies-new-release type="series" [newRelease]="newReleaseSeries"></movies-new-release>
    </div>
    <div class="recommendation__container">
        <movies-section-title [title]="'Recommendation'"></movies-section-title>
        <movies-recommendation [recommendation]="recommendations"></movies-recommendation>
    </div>
</main>