<mat-toolbar color="primary" class="movie-header">
    <div>
        <movies-logo></movies-logo>
        <span class="spacer"></span>
    </div>
    <div class="movie-header__menu">
        <movies-list-component [items]="layoutProperty.leftMenuItems" [direction]="layoutProperty.menuItemsDirection"></movies-list-component>
        <movies-search-form></movies-search-form>
        <movies-list-component [items]="layoutProperty.rightMenuItems" [direction]="layoutProperty.menuItemsDirection"></movies-list-component>
    </div>
</mat-toolbar>