<mat-toolbar color="primary" class="movie-header">
    <div>
        <movies-logo></movies-logo>
        <span class="spacer"></span>
    </div>
    <div class="movie-header__menu" *ngIf="!isMobile">
        <movies-list-component [list]="layoutProperty.navigationLeft"></movies-list-component>
        <movies-search-form></movies-search-form>
        <movies-list-component [list]="layoutProperty.navigationRight"></movies-list-component>
    </div>
    <mat-icon (click)="toggleMobileMenu()" *ngIf="isMobile">menu</mat-icon>
</mat-toolbar>

<ng-container *ngIf="isMobile && showMobileMenu">
  <!-- Drawer, dialog, sidenav, or collapsible menu -->
  <div class="mobile-menu">
    <div class="mobile-menu__content">
        <div class="mobile-menu__close">
            <mat-icon (click)="toggleMobileMenu()">close</mat-icon>
        </div>
        <movies-search-form></movies-search-form>
        <movies-list-component
        [list]="mergedNavigationList"
        ></movies-list-component>
    </div>
  </div>
</ng-container>