.movie-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 60px;
    overflow-x: hidden;
    & .movie-header__menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
}