/* You can add global styles to this file, and also import other style files */

@use 'app/core/utils/theme/theme.scss' as theme;
@use 'sass:color';

html, body {
  background-color: #141414;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

body {
  background-color: #141414; // fond noir Netflix
  color: #e5e5e5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: #b3b3b3;
  }
  &:active {
    color: white;
  }
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.mat-toolbar {
  background-color: #141414 !important;
  color: white;
}

.mat-card {
  background-color: #1f1f1f;
  color: white;
}

button.mat-mdc-unelevated-button {
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
}