<div class="video-wrapper">
    <video #video width="100%" (click)="togglePlay()" [muted]="muted" [volume]="volume" [poster]="itemVideo.poster">
        <source [src]="itemVideo.source" [type]="itemVideo.type" />
        Your browser is not supported the player.
    </video>
    <div class="controls">
        <button mat-icon-button (click)="togglePlay()">
            <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
        </button>

        <button mat-icon-button (click)="toggleMute()">
            <mat-icon>{{ muted ? 'volume_off' : 'volume_up' }}</mat-icon>
        </button>

        <mat-slider 
            class="volume-slider" 
            min="0" 
            max="1" 
            step="0.1" 
        >
            <input 
                matSliderThumb 
                [value]="volume"
                (valueChange)="onVolumeChange($event)"
            >
        </mat-slider>

        <span class="spacer"></span>

        <button mat-icon-button (click)="toggleFullScreen(video)">
            <mat-icon>fullscreen</mat-icon>
        </button>
    </div>
</div>